@media only screen and (max-width: 480px) {
    #graph {
        margin: 35px auto 0;
    }

    #graph-dimensions {
        width: 150px;
        height: 15px;
    }

    #dimensions {
        margin: 20px auto 0;
        width: 200px;
        height: 133px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 630px) {
    #graph {
        margin: 35px auto 0;
    }

    #graph-dimensions {
        width: 350px;
        height: 35px;
    }

    #dimensions {
        margin: 20px auto 0;
        width: 400px;
        height: 266px;
    }
}

@media only screen and (min-width: 631px) and (max-width: 1500px) {
    #graph {
        margin: 50px auto 0;
    }

    #graph-dimensions {
        width: 500px;
        height: 50px;
    }

    #dimensions {
        margin: 25px auto 0;
        width: 600px;
        height: 399px;
    }
}

@media only screen and (min-width: 1501px) {
    #graph {
        margin: 75px auto 0;
    }

    #graph-dimensions {
        width: 750px;
        height: 75px;
    }

    #dimensions {
        margin: 30px auto 0;
        width: 900px;
        height: 600px;
    }
}

#simulation {
    display: none;
}

#parameters, #simulation {
    text-align: center;
}

#parameters {
    margin-top: 100px;
}

#start, #adjust, #restart, #left-border, #right-border {
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 50px;
}

#graph-dimensions {
    display: inline-block;
}

#graph-stats {
    margin-bottom: 5px;
}

#graph-stats > span {
    padding: 0px 5px;
}

.border-on-right {
    border-right: gray 2px solid;
}

.number {
    font-size: 15px;
    font-weight: bold;
}

#healthy-number {
    color: #AAC6CA;
}

#sick-number {
    color: #BB641D;
}

#recovered-number {
    color: #CB8AC0;
}

#dead-number {
    color: #000000;
}